<% translations = model.translations %>
<h3><%= t("ubiquo.i18n.translations") %></h3>
<ul id="model_translations">
  <% Locale.active.each do |l| %>
    <% unless model.locale?(l.iso_code, :skip_any => true) %>
      <li>
        <%= l.native_name %>
        <% if translated = translations.select{|t| t.locale == l.iso_code}.first %>
          <%= link_to(
                t("ubiquo.edit"), 
                url_for(params.merge(
                    :action => 
                    :edit, 
                    :id => translated.id, 
                    :locale => l.iso_code, 
                    :preview_id => nil
                    )
                  )
                ) %>
          <%= link_to t("ubiquo.preview"), url_for(params.merge(:preview_id => translated.id)) unless options[:hide_preview_link] %>
        <% else %>
          <%= link_to(
                t("ubiquo.translate"), 
                url_for(params.merge(
                    :action => :new, 
                    :id => nil, 
                    :from => model.content_id, 
                    :locale => l.iso_code
                    )
                  )
                ) %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
